<%= form_for @article, html: { multipart: true } do |article| %>

  <% if @article.errors.any? %>
    <% @article.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  <% end %>
  <p>
    <%= article.label :title %><br>
    <%= article.text_field :title %>
  </p>

  <p> <%= article.label :body %><br>
      <%= article.text_area :body %>
  </p>

  <p> <%= article.submit %>
  </p>

  <% end %>

